body {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 3vh;
  height: 94vh;
}

img {
  border-radius: 7px;
}
